@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.title {
  margin-bottom: 10px;
  font-size: 20px;
  flex-grow: 1;

  @include mq(tab) {
    font-size: 24px;
  }
}

.course-content-wrapp {
  display: flex;
  flex-direction: column;
}

.video-player-wrapp {
  position: relative;
  @include center;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  background-color: $video-bg-color;
  border-radius: 10px;

  @include mq(desk) {
    height: 400px;
  }

  &:hover p {
    opacity: 0;
  }
}
