$main-bg-color: 	#FAF0E6;
$seccond-bg-color: #f3d7bb;
$video-bg-color: #424242;
$black-bg-color: #000000;
$white-bg-color: #FFFFFF;
$accent-btn-bg-color:#00BFFF;
$main-btn-bg-color: #f5ff62;
$header-bg-color:#f5ff62;

$main-text-color: #000000;
$seccond-text-color:  #FFFFFF;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);