@import "../../sass/variables.scss";

.description {
margin-bottom: 10px;
}

.video-wrapp {
  width: 100%;
  position: relative;

  // & button {
  //   position: absolute;
  // }
}

.video {
  background-color: $video-bg-color;
}