@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.leson-rating-wrapp {
  display: flex;
  justify-content: space-between;
}

.footer-course {
  height: 160px;
}

.characteristics-accent {
  font-weight: 500;
}

.rating {
  @include center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.rating-l {
  background-color: #2eb12e;
}

.rating-m {
  background-color: #ffff33;
}

.skills-list {
  height: 90px;
  overflow-y: auto;
}

