@import '../../sass/mixins.scss';

.section {
  padding-top: 20px;
  padding-bottom: 20px;

  @include mq(tab) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.section-with-open-modal {
  padding-top: 20px;
  padding-bottom: 150px;

  @include mq(tab) {
    padding-top: 30px;
    padding-bottom: 200px;
  }

  @include mq(desk) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
